@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');

html {
  height: 100%;
}

body {
   background: linear-gradient(135deg,indigo,pink,white,#660033 );
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navbar {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  background-color: #4d004d;
  margin: 0 0 30px;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

#violet {
	 background: url(images/wood.jpg) no-repeat center top;
  background-size: cover;
}

figure {
  margin: 10px 10px 10px;
}

img {
	max-width: 100%;
	margin: 10px 0; 
}

#shadow {
  box-shadow: 0 20px 30px #333;
}

h1#text-shadow {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: #eee;
  text-shadow: 0 5px 8px yellow;
}
div#my-name {
	/*font-family: bold 4em 'Elsie Swash Caps', cursive;*/
	background-image: url(images/wood.jpg);
	 z-index: -1;
	 width: 500px;
	 height: 100px;

}

div.thumbnail#nasa {
	background-color: #c653c6;
}

#list{
	background-color: #bf40bf;
}
#recoded{
	background : linear-gradient(135deg,pink,white,#ebadd6 );
}
 
 a:visited {
  color: #ff0066;
  text-decoration: none;
}
 a:hover {
  color: #d24dff;
  text-decoration: underline;
}
 a:active{
  color: #660066;
}

#footer {
  text-align: center; 
  font-size: 0.75em;
  padding: 10px;
  background: #cc6699;
  border-top: 1px solid; 
}
 #main {
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h3#font-type{
  font-family: 'Arvo', serif;
  font-size: 30px;
}